<div class="mx-auto max-w-sm space-y-2.5 p-6">
  <%= render Campbooks::ConnectProviderCard.new(provider: :google) %>
  <%= render Campbooks::ConnectProviderCard.new(provider: :zoho) %>
  <%= render Campbooks::ConnectProviderCard.new(provider: :microsoft) %>
</div>
