<%# One-shot navigator appended to the modal frame after a successful save: breaks
    out of the frame and visits the calendar at the event's date. `url` required. %>
<div data-controller="turbo-visit" data-turbo-visit-url-value="<%= url %>"></div>
