<% message.tags.first(2).each do |tag| %>
  <span class="flex items-center gap-1 flex-shrink-0" style="font-size:var(--thread-label-size,9px);color:<%= tag.color %>">
    <%= render(Campbooks::ColorDot.new(color: tag.color, size: :sm)) %>
    <span class="font-medium"><%= tag.name %></span>
  </span>
<% end %>
